* {
    box-sizing:border-box;
}
                            /*header*/
header{
    background-color: #f3faf665;
}
                            /* navigation bar */
nav{
    display: flex;
    background-color: darkcyan;
    top: 0;
    position: sticky;
}
nav > div {
    border-radius: 10px;
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
  }
nav > div:hover {
    background-color:aliceblue;
    cursor: pointer;;
}
                                    /* article                            */
#artical {
    display: flex;
    flex-direction: row;
}
article {
    display: block;
    background-color: azure;
    width: 33.33%;
    padding: 25px;
    margin: 5px;
    text-align: center;
}

article > p {
    text-align: justify;
}
                            /* sign up form  */
form {
    width:36%;
    padding: 0 20px 35px 20px;
    background-color: blanchedalmond;
    overflow:auto;
    box-shadow: 0 0 10px rgb(201, 195, 195);
    margin: auto;
}
form > p {
    margin-top: 0;
}
[type=checkbox] {
    margin-bottom: 16px;
}
[type=email], [type=password] {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
.button, .reset {
    padding: 10px;
    background-color: green;
    width: 50%;
    float: left;
    color: white;
}
.reset {
    background-color: red;    
}
#container {
    width: 100%;
    height: 100%;
    background-color: rgba(228, 228, 213, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 4.5%;
    display: none;
}
#close {
    position: relative;
    top: 10px;
    font-size: 30px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}
                                    /* sign in form */
#container1 {
    width: 100%;
    height: 100%;
    background-color: rgba(228, 228, 213, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 4.5%;
    display: none;
}
#container1 div {
    background-color: rgb(205, 230, 231);
    width: 100%;
    overflow: auto;
    
}
.button1 {
    padding: 10px;
    background-color: green;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 16px;
}
.reset1 {
    background-color: red;  
    margin-right: auto; 
    width: 25%;
    color: white;
}
[]